

<!-- // dgn angular bisa load 'part of page' yg perlu diubah saja,
yaitu component yang di dalam routerLink -->
<a href= "" routerLink="/listing" > Listing  </a>
<a href= "" routerLink="/listing" > Log Out  </a>


<!-- //utk jalanin RouterModule -->
<!-- //buka local host -->
<router-outlet></router-outlet>

<!-- <app-register></app-register> -->
<!-- <app-listing></app-listing> -->
<!-- <app-upload-image></app-upload-image> -->



<body>

    <!-- FOOTER -->
    <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-6 col-md-offset-3 section">
                <h4>Follow Us</h4>
                <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
                <br><br>
                <p>Copyright © Your Website 2017</p>
              </div>
          </div>
      </div>
  </footer>

    </body>